{% extends 'base.html.twig' %}

{% block title %}Bénéficiare{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Liste des bénéficiares</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Iban</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiary in beneficiaries %}
            <tr>
                <td>{{ beneficiary.id }}</td>
                <td>{{ beneficiary.iban }}</td>
                <td>
                    <a href="{{ path('beneficiary_show', {'id': beneficiary.id}) }}" class="btn btn-info">voir</a>
                    <a href="{{ path('beneficiary_edit', {'id': beneficiary.id}) }}" class="btn btn-warning">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('beneficiary_new', { 'id': app.user.id }) }}">Ajouter un nouveau bénéficiare</a>
<br>
<a href="{{ path('index') }}">Retour</a>
<div>
{% endblock %}
