{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-3 text-center">Liste des utilisateurs</h1>

    <div class="mr-5 ml-5">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateurs</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Anniversaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter</a>
     <a href="{{ path('index') }}" class="btn btn-link">Retour</a>
    <div>
{% endblock %}
